body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
}

.nav {
    border-bottom: 1px solid black;
}
.nav-container {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 15px;
}
.nav-container ul {
    list-style: none;
    display: flex;
    gap: 10px;
   
}
.nav-container ul li a {
     color: #000;
     text-decoration: none;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid pink;
    padding: 10px;
    width: 20rem;
}

input {
    margin: 5px 0;
    padding: 10px;
    color: #000;
    width: 90%;
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 3px;
    background: none;
    
}


button {
    background-color: #000;
    color: #fff;
    border: none;
    margin-top: 50px;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: #5f90c5;
}
